<% provide(:title, @taxon.name) %>
<!-- LIGHT SECTION -->
<%= render 'light_section', taxon: @taxon %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <%= render 'sidebar', taxon: @taxon, taxonomies: @taxonomies, option_types: @option_types %>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <div class="row filterArea">
          <div class="col-xs-6">
            <%= form_tag(request.path, method: :get, enforce_utf8: false) do %>
              <%= select_tag "sort", options_for_select([
                ["新着順", "arrivals_desc"],
                ["安い順", "low_price"],
                ["高い順", "high_price"],
                ["古い順", "arrivals_asc"]],
                selected: params[:sort] || "arrivals_desc"),
                { class: "select-drop", onchange: "this.form.submit()"} %>
            <% end %>
          </div>
          <div class="col-xs-6">
            <div class="btn-group pull-right" role="group">
              <button type="button" class="btn btn-default active" onclick="window.location.href='product_grid_left_sidebar.html'"><i class="fa fa-th" aria-hidden="true"></i><span>Grid</span></button>
              <button type="button" class="btn btn-default" onclick="window.location.href='product_list_left_sidebar.html'"><i class="fa fa-th-list" aria-hidden="true"></i><span>List</span></button>
            </div>
          </div>
        </div>
        <div class="row">
          <% @products.each do |product| %>
            <div class="col-sm-4 col-xs-12">
              <div class="productBox">
                <%= link_to potepan_product_path(product.id) do %>
                  <div class="productImage clearfix">
                    <%= image_tag(product.display_image.attachment(:large)) %>
                  </div>
                  <div class="productCaption clearfix">
                    <h5><%= product.name %></h5>
                    <h3><%= product.display_price %></h3>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render "shared/partners" %>