<!-- HEADER -->
<div class="header clearfix">
  <!-- TOPBAR -->
  <div class="topBar">
    <div class="container">
      <div class="row">
        <div class="col-md-6 hidden-sm hidden-xs">
          <ul class="list-inline">
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          </ul>
        </div>
        <div class="col-md-6 col-xs-12">
          <ul class="list-inline pull-right">
            <li><span><a data-toggle="modal" href='#login'>ログイン</a><small>or</small><a data-toggle="modal" href='#signup'>新規登録</a></span></li>
            <li class="dropdown searchBox">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search"></i></a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li>
                  <%= form_tag(search_potepan_products_path, id: "form01", method: "get", enforce_utf8: false) do %>
                    <span class="input-group">
                      <%= text_field_tag :search, "", class: "form-control", placeholder: "Search…", aria_describedby: "basic-addon2" %>
                      <button><span class="input-group-addon" id="basic-addon2" onclick="this.form.submit()">検索</span></button>
                    </span>
                  <% end %>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <%= link_to potepan_cart_path do %>
                <i class="fa fa-shopping-cart"></i>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- NAVBAR -->
  <nav class="navbar navbar-main navbar-default" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to image_tag("img/logo.png", :alt => "logo"), potepan_root_path, class: "navbar-brand" %>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'Home', potepan_root_path %></li>
          <li class="dropdown megaDropMenu">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="300" data-close-others="true" aria-expanded="false">Shop</a>
            <ul class="dropdown-menu row">
              <li class="col-sm-3 col-xs-12">
                <ul class="list-unstyled">
                  <li>Products Grid View</li>
                  <li>
                    <%= link_to "Products Sidebar Left", potepan_product_grid_left_sidebar_path %>
                  </li>
                </ul>
              </li>
              <li class="col-sm-3 col-xs-12">
                <ul class="list-unstyled">
                  <li>Products List View</li>
                  <li>
                    <%= link_to "Products Sidebar Left", potepan_product_list_left_sidebar_path %>
                  </li>
                  <li class="listHeading">Others</li>
                  <li>
                    <%= link_to "Single Product", potepan_single_product_path %>
                  </li>
                  <li>
                    <%= link_to "Cart Page", potepan_cart_page_path %>
                  </li>
                </ul>
              </li>
              <li class="col-sm-3 col-xs-12">
                <ul class="list-unstyled">
                  <li>Checkout</li>
                  <li>
                    <%= link_to "Step 1 - Shipping", potepan_checkout_step_1_path %>
                  </li>
                  <li>
                    <%= link_to "Step 2 - Payment", potepan_checkout_step_2_path %>
                  </li>
                  <li>
                    <%= link_to "Step 3 - Confirmation", potepan_checkout_step_3_path %>
                  </li>
                  <li>
                    <%= link_to "Order Complete", potepan_checkout_complete_path %>
                  </li>
                </ul>
              </li>
              <li class="col-sm-3 col-xs-12">
                <a href="#" class="menu-photo"><%= image_tag("img/menu-photo.jpg", :alt => "menu-img") %></a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">pages</a>
            <ul class="dropdown-menu dropdown-menu-left">
              <li>
                <%= link_to "About Us", potepan_about_us_path %>
              </li>
              <li>
                <%= link_to "Privacy Policy", potepan_privacy_policy_path %>
              </li>
              <li>
                <%= link_to "Terms &amp; Conditions", potepan_tokushoho_path %>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">blog</a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li>
                <%= link_to "Left Sidebar", potepan_blog_left_sidebar_path %>
              </li>
              <li>
                <%= link_to "Single Left Sidebar", potepan_blog_single_left_sidebar_path %>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>